{{#if recipe}}
<h2>{{recipe.name}}</h2>
<h4>Description:{{recipe.description}}<br><br>
  Ingredients:{{recipe.ingredients}}<br><br>
  Instructions: {{recipe.instructions}}<h4>
{{else}}
<h2> That recipe could not be found.. Oh no.</h2>
{{/if}}

<h2>Update Recipe</h2>
<form action="/recipes/{{ recipe.name }}?_method=put" method="post">
  <label for='recipe_name'>Recipe Name</label>
  <input type="text" name="recipe[name]" value="{{ recipe.name }}">
  <label for='recipe_name'>Recipe Description</label>
  <input type="text" name="recipe[description]" value="{{ recipe.description}}">
  <label for='recipe_name'>Recipe Instructions</label>
  <input type="text" name="recipe[ingredients]" value="{{ recipe.ingredients }}">
  <label for='recipe_name'>Recipe Ingredients</label>
  <input type="text" name="recipe[instructions]" value="{{ recipe.instructions }}">
  <input type="submit" value="update">
</form>


<h2>Remove Recipe</h2>
<form method="post" action="/recipes/{{ recipe.name }}?_method=delete" type="submit">
<button>Remove Recipe</button>
</form>
